.headline {
    text-align: center;
    margin-top: 5px;
    font-size: 36px;
    color: var(--primaryColor);
}

.headline .center-container {
    margin: auto;
    font-family: 'Playfair Display';
}

.headline img {
    margin-left: 18.26px;
}

.headline .paraLine {
    color: black;
    font-size: 15px;
    margin-top: 5px;
}